@{
    ViewData["Title"] = "About";
}
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="~/css/about.css" rel="stylesheet" type="text/css">
    <script src="~/js/about.js" asp-append-version="true"></script>

</head>
<body>

    <h1>
        О проекте LifeSpot. 
    </h1>

    <p class="info"> 
       На сайте собраны трансляции из разных городов мира. 
       Если вы хотите просмотреть их без проблем вам необходимо воспользоваться VPN - сервисом. 

    </p>

    <div class="reviews">
        <div class="review-button">
            <button onclick="AddReviews()">
                Оставить отзыв </button>
        </div>
    </div>

</body>
