@{
    ViewData["Title"] = "Home Page";
}


<head>
   <meta charset="UTF-8">
   <title>LifeSpot</title>
    <link href="~/css/index.css" rel="stylesheet" type="text/css">
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
<aside id="sidebar">
       <div class="navbar">
            <a  asp-area="" asp-controller="Home" asp-action="Index">Все трансляции</a>
            <a  asp-area="" asp-controller="Home" asp-action="About">О проекте</a>
       </div>
</aside>
   
<script>
        // обработка сессии
        handleSession(logger, checker);

        // функция для получения пользовательского ввода
        const inputParseFunction = function () {
            return document.getElementsByTagName('input')[0].value.toLowerCase();
        }
</script>


   <div class = "block">
   <header>
   <h1>LifeSpot — прямые трансляции с улиц</h1>
           
   
   <p>Покажем, что происходит прямо сейчас</p>
   </header>
        <form class="search-form">
            <label for="search">Поиск видео:</label>
            <input type="text" oninput="
                     const inputParseFunction = function(){
                            return document.getElementsByTagName('input')[0].value.toLowerCase();
                 }
                
                   contentFiler(inputParseFunction) " size=50% <input />




        </form>
      
  <!-- <a href="https://www.youtube.com/watch?v=Vn28Tk_uuq0"><button> Москва </button></a>
   <a href="https://www.youtube.com/watch?v=GSmCh4DrbWY"><button> Нью-Йорк </button></a>
   <a href="https://www.youtube.com/watch?v=JplMzss6_YE&ab_channel=WokiliWanders"><button> Лондон
   </button></a> !-->
	<div class = "video-container">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <h2> Москва </h2>
        </div>
	 <!--Санкт-Петербург-->
	 <div class = "video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h2> Санкт-Петербург</h2>
        </div>
	<div class = "video-container">
	 <!--Лондон-->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h2>Лондон</h2>
        </div>

   </div>
   
  
</body>

