@page
@model Views_Home_Login

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Страница авторизации</title>
</head>
<body>
    @if (!User.Identity.IsAuthenticated)
    {
        <form method="post">
            <input type="text" name="username" placeholder="Введите логин" />
            <input type="password" name="password" placeholder="Введите пароль" />
            <button type="submit">Войти</button>
        </form>

        <button onclick="logout()">Выйти</button>
    }
    else
    {
        <p>Добро пожаловать, @User.Identity.Name!</p>
        <a href="/Account/Logout">Выйти</a>
    }
</body>
