@{
    ViewData["Title"] = "About project";
}
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="~/css/index.css" rel="stylesheet" type="text/css">

</head>
<body>



<aside id="sidebar">
        <div class="navbar">
            <a asp-area="" asp-controller="Home" asp-action="Index">Все трансляции</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">О проекте</a>
        </div>
</aside>
  
    <h1>
        О проекте LifeSpot. 
    </h1>

    <p class="info"> 
       На сайте собраны трансляции из разных городов мира. Если вы хотите просмотреть их без проблем вам необходимо воспользоваться VPN - сервисом. 

    </p>

    <div class="reviews">
        <div class="review-button">
            <button onclick="AddReviews()">
                
                
                Оставить отзыв </button>
        </div>
    </div>

</body>
