@page
@model WebApplication1.Views.Home.sliderModel
@{
}

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="~/css/slider.css" rel="stylesheet" type="text/css">
    
</head>

<body>

   <div class="img-first">
       
        <img class="first" src="~/images/london.jpg" alt="Лондон">
        <button class="left-buuton-img-first">
           Prev
        </button>
        <button id = "btn1Next" class="right-buuton-img-first">
            Next
        </button>
       
   </div>

    <div class="img-second">
        <img class="second" src="~/images/msc.jpg" alt="Москва">
        <button id="btn2prev" class="left-buuton-img-second">
           Prev
        </button>
        <button id="btn2Next" class="right-buuton-img-second">
            Next
        </button>

    </div>

    <div class="img-third">
        <img class="third" src="~/images/spb.jpg" alt="Санкт-Петербург">
        <button id="btn3prev" class="left-buuton-img-third">
            Prev
        </button>
        <button id="btn3Next" class="right-buuton-img-third">
            Next
        </button>

    </div>







    <script src="~/js/Slider.js" asp-append-version="true"></script>


    <script>
       
    </script>

</body>