body {
    
}


footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 67%;
    padding-left: 1%;
}


/* Комбинированный селектор - применяется ко всем элементам */
 footer, aside, body {
    font-family: "Helvetica 65 Medium", sans-serif;
}

    
       


.search-form input[type=text]:hover {
    cursor: pointer;
}

 footer, body {
    background-color: linen;
}




.review-container, .review-button {
    display: inline-block;
    margin-top: 0.7em;
    padding-left: 5%;
    padding-top: 5%;
}

.review-text {
    display: absolute;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}



